@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

    <style>
    .para{
            color: black;
            font-size: larger;
            font-family: 'Book Antiqua';
    }
        
    

    </style>
   
    <p class="para">

        Mohammed A Afzal is like one of his well-maintained Volvo buses, as he goes full throttle, tracing the growth of Parveen Travels, from a single-taxi tourist operator to a Rs.400 crore business conglomerate, with 1300 vehicles, and 4000 employees.

        Parveen Travels is the flagship company of ‘AB Business Enterprises’ (ABBE), which has interests in transportation, restaurants, automobiles, holidays and logistics
        The man who built this business empire, can’t hide his diminishing interest in the conversation as it veers into personal matters, his hobbies and the like, though he plays along, trying his best to cooperate.

        The fact is nothing excites him like business and his life revolves around it. “My hobby is monitoring (the business). When the fleet is on the road, and everything is on track, I am relaxed,” confesses Afzal, whose day begins early morning at 5.30 am with namaz.

        After some simple exercises, which include a session on treadmill and stretches, he starts receiving updates on arrivals and departures of the eighty-odd inter-city buses covering 45 destinations across the States of Tamil Nadu, Karnataka, Kerala, Andhra Pradesh, Telangana, and Pondicherry.
        There are senior managers, and an entire professional hierarchy to take care of the daily operations at Parveen Travels. But Afzal is a hands-on entrepreneur, who likes to be in the know of the vehicle schedules, employee morale, and customer satisfaction.

        He is at ease when we talk of business, but loses the spontaneity when the topic shifts to other things.

        “I have no life beyond Parveen Travels,” admits the 53-year-old chairman and managing director of ABBE, whose only day off from work is Sundays when he spends time with his family.

        Afzal has worked hard for his success. The second among six siblings, he gave a new direction to his father’s business by starting Parveen Travels in 1980

        His father Allah Baksh had entered the business with two metered taxis in 1967 and later added couple of lorries for transporting cargo. Baksh had earlier worked with some oil companies and used to earn around Rs.200 per month.

        As a 15-year-old, Afzal used to help his dad after school by delivering invoices and collecting payments from customers in the vicinity of what was then the heart of Chennai, Parry’s Corner. Their office, then and now is located at Purasawalkam, about 6 km away.

        His other siblings were not involved in business when they were studying. Today his three brothers are occupying senior positions in the company and they handle different responsibilities.

        “We live in the same house, in a flat system,” says Afzal, whose elder son, a post graduate in international business from London, takes care of Parveen Holidays, a tours and packages division of the group.

        Afzal too was good in academics and even got a seat in Madras Medical College, but he did not join the course because his mother felt medical profession would demand total dedication, and he would have no time for his family.

        So Afzal did his bachelor’s degree in zoology from Loyola College, Chennai. While he was in first year he started a tourist taxi service with one Ambassador car and named it ‘Parveen Travels’ after his elder sister.
    </p>

